<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }} </h2>
  <p> {{ email }} </p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quaerat soluta nemo
    explicabo. Aut delectus, eligendi facere, atque nam voluptatum dicta magni quisquam suscipit
    deserunt a earum dolor omnis eos, voluptatibus odio deleniti commodi autem! Atque consequatur
    dolorem odio ullam ad dolores vel, alias beatae repellendus voluptates, odit voluptate totam
    neque. Ab, eius nesciunt voluptate eaque qui modi expedita voluptatum ad, adipisci quia
    voluptas. Sit, non molestias adipisci ipsam porro sint laborum vel molestiae aliquid,
    repudiandae veniam provident voluptatem! Quibusdam, quisquam maxime sint deserunt minus cum
     itaque eius delectus officia reprehenderit nesciunt ullam vero fugit eaque similique totam
     placeat eum?</p>
</article>
